@import "bootstrap/variables";

*, ::after, ::before {
    box-sizing: border-box;
    font-family: 'Constantia Bold Italic';
}

body {
    min-height: 100vh;
    background-color: rgb(31, 32, 43);
}

h1 {
    color: aqua
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

.block-title {
    margin-bottom: 20px;
}

/* Slider styles */
.slider {
    padding-top: 86px;
}
.carousel-item {
    
    max-height: calc(100vh - 86px);  
}
.carousel-item-img {
    object-fit: cover;
}

/* Navbar styles*/
.dropdown-menu {
    width: 600px;
}
.dropdown-item {
    max-width: 250px;
    overflow-wrap: break-word;
}
.categories-dropdown-item:not(:nth-child(1)):not(:nth-child(3n+4)) > a{
    border-left: 2px solid aqua;
}

/* Content styles */
.content {
    margin-top: 20px;
    min-height: 800px;
}
.quest__card {
    position: relative;
    width: 100%;
    min-width: 300px;
    border: none;
}
.quest-link {
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
.card-quest-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-img-overlay {
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center; 
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}
.quest-link:hover > .card-img-overlay{
    opacity: 0.6;
    visibility: visible;
    transition-delay: 0s;
}
.quest-desc {
    padding: 10px 0 10px 0;
}
.delete_quest_btn {
    position: absolute;
    top: -12.5px;
    right: -12.5px;
}
.delete_quest_btn > .circle {
    position: relative;
    width: 25px;
    height: 25px;
    border: 1px black solid;
    border-radius: 50%;
    background-color: rgb(255, 70, 70);
    transition: box-shadow 0.3s;
}
.delete_quest_btn > .circle > .line {
    position: absolute;
    top: calc((23px - 2px)/2);
    left: calc((23px - 13px)/2);
    width: 13px;
    height: 2px;
    background-color: white;
    border-radius: 10px;
    transition: box-shadow 0.3s;
}
.delete_quest_btn:hover .circle {
    background-color: rgb(255, 0, 0);
    transition: background-color 0.3s;
}
#add_new_quest_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
#add_new_quest_btn > .square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 3px aqua solid;
    border-radius: 5px;
    opacity: 0.6;
    transition: box-shadow 0.3s, opacity 0.3s;
}
#add_new_quest_btn > .square > .circle {
    position: relative;
    width: 100px;
    height: 100px;
    border: 3px aqua solid;
    border-radius: 50%;
    transition: box-shadow 0.3s;
}
#add_new_quest_btn > .square > .circle > .line {
    position: absolute;
    top: calc((94px - 3px)/2);
    left: calc((94px - 50px)/2);
    width: 50px;
    height: 3px;
    background-color: aqua;
    border-radius: 10px;
    transition: box-shadow 0.3s;
}
#add_new_quest_btn > .square > .circle > .vertical_line {
    transform: rotate(90deg);
}
#add_new_quest_btn > .square:hover,
#add_new_quest_btn > .square:hover .circle {
    opacity: 1;
    box-shadow: inset 0px 0px 5px 2px aqua;
}
#add_new_quest_btn > .square:hover .line{
    box-shadow: 0px 0px 3px 1px aqua;
}
/*Quest modal window*/
.quest-modal-carousel-item {
    position: relative;
    padding-top: 56.25%;
}
.quest-modal-carousel-item-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.quest_genre {
    border: 1px aqua solid;
    border-radius: 2px;
    padding: 0px 5px;
}
.quest_specifics {
    border: 2px white solid;
}
#contentContainer {
    display: flex;
    align-items: center;
}
#schedule_carusel-inner {
    padding: 0 10px;
}
.schedule_carusel-month {
    text-align: center;
}
.day {
    text-align: center;
}
.schedule-carousel-control-next,
.schedule-carousel-control-prev {
    width: 5%;
    height: 100px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.137);
}
.schedule_item {
    width: 125px;
    border: 2px solid;
    border-radius: 2px;
    padding: 5px 0px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    transition: background-color 0.2s, color 0.2s;
}
.schedule_item:hover {
    cursor: pointer;
}
.schedule_item-sm_price {
    border-color: rgb(255, 255, 121);
    color: rgb(255, 255, 121);
}
.schedule_item-sm_price:not(.booked):hover {
    background-color: rgb(255, 255, 121);
    color: black;
    transition: background-color 0.2s, color 0.2s;
}
.schedule_item-md_price {
    border-color: rgb(142, 255, 142);
    color: lightgreen;
}
.schedule_item-md_price:not(.booked):hover {
    background-color: rgb(142, 255, 142);
    color: black;
    transition: background-color 0.2s, color 0.2s;
}
.schedule_item-lg_price {
    border-color: rgb(44, 202, 255);
    color: rgb(44, 202, 255);
}
.schedule_item-lg_price:not(.booked):hover {
    background-color: rgb(44, 202, 255);
    color: black;
    transition: background-color 0.2s, color 0.2s;
}
.schedule_item-xl_price {
    border-color: rgb(255, 39, 39);
    color: rgb(255, 39, 39);
}
.schedule_item-xl_price:not(.booked):hover {
    background-color: rgb(255, 39, 39);
    color: black;
    transition: background-color 0.2s, color 0.2s;
}
.booked {
    border-color: #fff;
    background-color: grey;
    color: #fff;
    opacity: 0.5;
}
.booked:hover {
    cursor: not-allowed;
}
.modal-footer {
    justify-content: flex-start;
}

/* Add new quest modal window */
input, .form-control, .form-select, select > option {
    color: #fff;
    background-color: rgb(26, 26, 26);
}

input[type="number"] {
    width: 100px;
}

.inputSchedule-label {
    width: 100%;
    text-align: center;
}
.schedule-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.schedule-item > input[type="time"] {
    max-width: 150px;
}
#duplicate_schedule_to_weekend_btn > p{
    text-align: center;
    padding: 0 5px 0 5px;
    border: 2px aqua solid;
    border-radius: 5px;
}
.add_new_schedule_item_btn {
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px aqua solid;
    border-radius: 50%;
    transition: box-shadow 0.3s;
}

.add_new_schedule_item_btn > .line {
    position: absolute;
    top: calc((26px - 2px)/2);
    left: calc((26px - 15px)/2);
    width: 15px;
    height: 2px;
    background-color: aqua;
    border-radius: 10px;
    transition: box-shadow 0.3s;
}
.add_new_schedule_item_btn > .vertical_line {
    transform: rotate(90deg);
}
.add_new_schedule_item_btn:hover,
.add_new_schedule_item_btn:hover {
    opacity: 1;
    box-shadow: inset 0px 0px 5px 2px aqua;
}
.add_new_schedule_item_btn:hover .line{
    box-shadow: 0px 0px 3px 1px aqua;
}
/* Footer styles */
.footer__inner {   
    padding-bottom: 60px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 150%;
    color: aqua;

    border-bottom: 1px solid aqua;
}

.footer__info-block {
    margin-bottom: 15px;
}

.footer__info-block:not(:last-child) {
    padding-right: 30px;
}

.footer__info-title {
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: aqua;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid aqua;
}

.info__item {
    margin-bottom: 15px;
}

.info__link .contacts__link {
    text-decoration: none;
    color: rgb(180, 180, 180);
    
}

.payment__desc {
    margin-bottom: 21px;
}

.paiment__link {
    text-decoration: none;
}

.paiment__link:not(:last-child) {
    margin-right: 20px;
}

.contacts__item {
    margin-bottom: 15px;
}

.contacts__link {
    padding-left: 40px;
}

.contacts__tel {
    background: url(../img/svg/tel-ico.svg) no-repeat left center;
}

.contacts__email {
    background: url(../img/svg/email-ico.svg) no-repeat left center;
}

.social-network__desc {
    margin-bottom: 22px;
}

.social-network__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.social-network__link {
    display: inline-block;
    text-decoration: none;
    margin-right: 21px;
}