</main>
<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        <div class="row footer__inner">
            <div class="col-md footer__info-block footer__payment">
                <h1 class="footer__info-title">
                    оплата
                </h1>
                <div class="footer__info-text">
                    <p class="payment__desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper justo, nec, pellentesque.
                    </p>
                    <a href="#" class="paiment__link">
                        <img src="/img/visa-ico.jpg" alt="visa">
                    </a>
                    <a href="#" class="paiment__link">
                        <img src="/img/mastercard-ico.jpg" alt="mastercard">
                    </a>
                </div>
            </div>
            <div class="col-md footer__info-block footer__contacts">
                <h1 class="footer__info-title">
                    контакты
                </h1>
                <ul class="footer__info-text contacts__list">
                    <li class="contacts__item">
                        <a href="tel: +8 (812) 234-56-55" class="contacts__link contacts__tel">8 (812) 234-56-55</a>
                    </li>
                    <li class="contacts__item">
                        <a href="tel: +8 (812) 234-56-55" class="contacts__link contacts__tel">8 (812) 234-56-55</a>
                    </li>
                    <li class="contacts__item">
                        <a href="mailto: ojjo@ojjo.ru" class="contacts__link contacts__email">ojjo@ojjo.ru</a>
                    </li>
                </ul>
            </div>
            <div class="col-md footer__info-block footer__social-network">
                <h1 class="footer__info-title">
                    социальные сети
                </h1>
                <div class="footer__info-text">
                    <p class="social-network__desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper justo, nec, pellentesque.
                    </p>
                    <div class="social-network__links">
                        <a href="#" class="social-network__link">
                            <img src="/img/svg/youtube-ico.svg" alt="youtube">
                        </a>
                        <a href="#" class="social-network__link">
                            <img src="/img/svg/vk-ico.svg" alt="vk">
                        </a>
                        <a href="#" class="social-network__link">
                            <img src="/img/svg/facebook-ico.svg" alt="facebook" style="color: aliceblue;">
                        </a>
                        <a href="#" class="social-network__link">
                            <img src="/img/svg/telegram-ico.svg" alt="telegram">
                        </a>
                        <a href="#" class="social-network__link">
                            <img src="/img/svg/etsy-ico.svg" alt="e">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="{{domain}}/js/bootstrap.min.js"></script>
<script src="{{domain}}/js/jquery-3.6.0.min.js"></script>
</body>

</html>