
</main>

<div id="quest-full-info-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-xl modal-fullscreen-lg-down modal-dialog-centered">
        <div class="modal-content text-white bg-dark mb-3">
            
            <div class="modal-header">
                <h4 id="quest_title" class="modal-title"></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row row-cols-1 row-cols-lg-2">
                        <div class="col mb-2 mb-xl-0">
                            <img id="quest_modal-img" src="" class="card-img-top"
                                alt="...">
                        </div>
                        <div class="col">
                            <div id="quest_genres_list" class="row row-cols-auto ms-0">
                                <!-- genres from DB -->
                            </div>
                            <h4>Кількість гравців:</h4>
                            <p id="quest_number_of_players"></p>
                            <h4>Вік:</h4>
                            <p id="quest_age_limit"></p>
                            <h4>Тривалість:</h4>
                            <p id="quest_duration"></p>
                            <h4>Адреса:</h4>
                            <p id="quest_address"></p>
                        </div>
                    </div>
                    <div id="quest_desc" class="quest-desc">
                        <h3>Опис</h3>
                        <p>
                            <!-- description from DB -->
                        </p>
                    </div>
                    <div id="quest_specifics">
                        <h3>Особливості</h3>
                        <p>
                            <!-- spesifics from DB -->
                        </p>
                    </div>
                    <div id="quest_schedule">
                        
                    </div>
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger">Бронювати</button>
            </div>
        </div>
    </div>
</div>

<div id="add_new_quest_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-xl modal-fullscreen-lg-down modal-dialog-centered">
        <div class="modal-content text-white bg-dark mb-3">
            
            <div class="modal-header">
                <h4 class="modal-title">Добавить новый квест</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form id="add_new_quest_form" class="row g-3 needs-validation" action="queryProcessing.php" method="post" enctype="multipart/form-data" novalidate>

                        <div class="col-12">
                            <label for="inputTitle" class="col-sm-2 col-form-label">Назва</label>
                            <input type="text" class="form-control" name="title" placeholder="Введіть назву квесту" id="inputTitle" maxlength="45" required>
                        </div>
                        <div class="col-12 col-xl-6">
                            <div class="row g-3">
                                <div class="col-4">
                                    <label for="inputTypeOfGame" class="form-label">Тип гри: </label>
                                </div>
                                <div class="col-auto">
                                    <select class="form-select" name="type_of_game" id="inputTypeOfGame" required>
                                        <option selected disabled value="">Оберіть тип гри</option>
                                        {{types_of_games}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-6">
                            <div class="row g-3">
                                <div class="col-12 col-md-2">
                                    <label for="inputGenres" class="form-label">Жанри: </label>
                                </div>
                                <div class="col-12 col-md-10">
                                    <div class="row row-cols-3 justify-content-start">
                                        {{genres}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="inputAgeLimit" class="form-label age-limit-range-lable">З якого віку доступний: </label>
                            <label for="inputAgeLimit" class="form-label age-limit-range-val"></label>
                        </div>
                        <div class="col-6">
                            <input type="range" class="form-range age-limit-range" name="age_limit" min="0" max="20" step="1" id="inputAgeLimit" autocomplete="off" required>
                        </div>
                        <div class="col-12 col-xl-6">
                            <div class="row g-3">
                                <div class="col-4">
                                    <label for="inputDifficaltyLevel" class="form-label">Рівень складності: </label>
                                </div>
                                <div class="col-auto">
                                    <select class="form-select" name="level_of_difficalty" id="inputDifficaltyLevel" required>
                                        <option selected disabled value="">Оберіть рівень складності</option>
                                        <option value="1">1 (Легкий)</option>
                                        <option value="2">2 (Для більш досвідчених)</option>
                                        <option value="3">3 (Складний)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-6">
                            <div class="row g-3">
                                <div class="col-4">
                                    <label for="inputFearLevel" class="form-label">Рівень страху: </label>
                                </div>
                                <div class="col-auto">
                                    <select class="form-select" name="level_of_fear" id="inputFearLevel" required>
                                        <option selected disabled value="">Оберіть рівень страху</option>
                                        <option value="1">1 (Не страшний)</option>
                                        <option value="2">2 (Середній рівень страху)</option>
                                        <option value="3">3 (Страшний)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row g-3">
                                <div class="col-12 col-xl-4">
                                    <label for="inputDuration" class="col-form-label">Тривалість: </label>
                                </div>
                                <div class="col-auto">
                                    <input type="number" name="duration" class="form-control" id="inputDuration" autocomplete="off" min="0" required>
                                </div>
                                <div class="col-auto">
                                    <label class="col-form-label">хв.</label>
                                </div>
                            </div>  
                        </div>
                        <div class="col-6">
                            <div class="row g-3 align-items-center number_of_players">
                                <div class="col-12 col-xl-4">
                                    <label class="col-form-label">Кількість гравців : </label>
                                </div>
                                <div class="col-auto">
                                    <input type="number" name="min_number_of_players" class="form-control" min="0" autocomplete="off" required>
                                </div>
                                <div class="col-auto">
                                    &#8212;
                                </div>
                                <div class="col-auto">
                                    <input type="number" name="max_number_of_players" class="form-control" min="0" autocomplete="off" required>
                                </div>
                            </div>  
                        </div>
                        <div class="col-12">
                            <label for="inputAddress" class="form-label">Адреса</label>
                            <input type="text" class="form-control" id="inputAddress" name="address" placeholder="Метро, вулиця, дім" autocomplete="off" maxlength="255" required>
                        </div>
                        <div class="col-12">
                            <label for="inputAnnotation" class="form-label">Анотація</label>
                            <textarea class="form-control" name="annotation" placeholder="Введите короткое описание квеста" id="inputAnnotation" style="height: 100px" maxlength="200" required></textarea>
                        </div>
                        <div class="col-12">
                            <label for="inputDesc" class="form-label">Опис</label>
                            <textarea class="form-control" name="full_desc" placeholder="Введіть повний опис квесту" id="inputDesc" style="height: 100px" maxlength="800" required></textarea>
                        </div>
                        <div class="col-12">
                            <label for="inputSpecifics" class="form-label">Особливості</label>
                            <textarea class="form-control" name="specifics" placeholder="Введіть особливості квесту" id="inputSpecifics" style="height: 100px" maxlength="600" required></textarea>
                        </div>
                        <div class="col-12">
                            <label for="inputPic" class="form-label">Зображення</label>
                            <input type="file" class="form-control" name="image" id="inputPic" accept=".jpg, .jpeg, .png" aria-describedby="inputGroupFileAddon04" aria-label="Upload"  required>
                        </div>
                        <div class="col-12">
                            <label for="" class="form-label">Розклад</label>
                            <div class="row row-cols-lg-1 row-cols-xl-3 g-3 justify-content-between">
                                <div class="col-4">
                                    <h5 class="inputSchedule-label">Робочі дні</h5>
                                </div>
                                <div class="col-4">
                                    <h5 class="inputSchedule-label">Вихідні дні</h5>
                                </div>
                            </div>
                            <div class="row row-cols-lg-1 row-cols-xl-3 g-3 justify-content-around">
                                <div class="col-3">
                                    <div id="weekdays-schedule-items" class="schedule-items row row-cols-2 justify-content-center">
                                        <div class="col-12 schedule-item">
                                            <input type="time" name="time0" class="form-control"
                                                min="09:00" max="22:00" required>
                                            &#8594;
                                            <input type="number" name="price0" class="form-control" min="0" required>
                                        </div>
                                        <div class="col-auto">
                                            <div role="button" id="add_new_weekdays_schedule_item_btn" class="add_new_schedule_item_btn circle">
                                                <div class="line horizontal_line"></div>
                                                <div class="line vertical_line"></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-4">
                                    <div role="button" id="duplicate_schedule_to_weekend_btn">
                                        <p>Дублювати розклад &#8594;</p>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div id="weekend-schedule-items" class="schedule-items row justify-content-center">
                                        <div class="col-12 schedule-item">
                                            <input type="time" name="time0" class="form-control"
                                                min="09:00" max="22:00" required>
                                            &#8594;
                                            <input type="number" name="price0" class="form-control" min="0" required>
                                        </div>
                                        <div class="col-auto">
                                            <div id="add_new_weekend_schedule_item_btn" class="add_new_schedule_item_btn circle">
                                                <div class="line horizontal_line"></div>
                                                <div class="line vertical_line"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <input type="submit" class="btn btn-outline-success" value="Додати">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        <div class="row footer__inner">
            <div class="col-md footer__info-block footer__payment">
                <h1 class="footer__info-title">
                    оплата
                </h1>
                <div class="footer__info-text">
                    <p class="payment__desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper justo, nec, pellentesque.
                    </p>
                    <a href="#" class="paiment__link">
                        <img src="/img/visa-ico.jpg" alt="visa">
                    </a>
                    <a href="#" class="paiment__link">
                        <img src="/img/mastercard-ico.jpg" alt="mastercard">
                    </a>
                </div>
            </div>
            <div class="col-md footer__info-block footer__contacts">
                <h1 class="footer__info-title">
                    контакты
                </h1>
                <ul class="footer__info-text contacts__list">
                    <li class="contacts__item">
                        <a href="tel: +8 (812) 234-56-55" class="contacts__link contacts__tel">8 (812) 234-56-55</a>
                    </li>
                    <li class="contacts__item">
                        <a href="tel: +8 (812) 234-56-55" class="contacts__link contacts__tel">8 (812) 234-56-55</a>
                    </li>
                    <li class="contacts__item">
                        <a href="mailto: ojjo@ojjo.ru" class="contacts__link contacts__email">ojjo@ojjo.ru</a>
                    </li>
                </ul>
            </div>
            <div class="col-md footer__info-block footer__social-network">
                <h1 class="footer__info-title">
                    социальные сети
                </h1>
                <div class="footer__info-text">
                    <p class="social-network__desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper justo, nec, pellentesque.
                    </p>
                    <div class="social-network__links">
                        <a href="#" class="social-network__link">
                            <img src="/img/svg/youtube-ico.svg" alt="youtube">
                        </a>
                        <a href="#" class="social-network__link">
                            <img src="/img/svg/vk-ico.svg" alt="vk">
                        </a>
                        <a href="#" class="social-network__link">
                            <img src="/img/svg/facebook-ico.svg" alt="facebook" style="color: aliceblue;">
                        </a>
                        <a href="#" class="social-network__link">
                            <img src="/img/svg/telegram-ico.svg" alt="telegram">
                        </a>
                        <a href="#" class="social-network__link">
                            <img src="/img/svg/etsy-ico.svg" alt="e">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="{{domain}}/js/bootstrap.min.js"></script>
<script src="{{domain}}/js/jquery-3.6.0.min.js"></script>
<script src="{{domain}}/js/script.js"></script>
</body>

</html>