<section class="content">
    <div class="container">
        <h1 class="block-title">Квести</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 justify-content-start">
            {{quest_cards}}
            <!-- <div class="col">
                <div class="card text-white bg-dark mb-3">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#quest-full-info">
                        <img src="{{domain}}/img/quests/insomnia_ekstremalnoe_shou_photo1.jpg" class="card-img-top"
                            alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up
                            the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-outline-danger">Бронювати</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-dark mb-3">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#quest-full-info">
                        <img src="{{domain}}/img/quests/kadroom_illuziya_obmana_photo1.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up
                            the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-outline-danger">Бронювати</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-dark mb-3">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#quest-full-info">
                        <img src="{{domain}}/img/quests/puzzle_tainaya_lichnost_photo1.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up
                            the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-outline-danger">Бронювати</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-dark mb-3">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#quest-full-info">
                        <img src="{{domain}}/img/quests/quest_land_lara_croft_hram_nadpisei_photo1.jpg"
                            class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up
                            the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-outline-danger">Бронювати</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-dark mb-3">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#quest-full-info">
                        <img src="{{domain}}/img/quests/zamok_drakona_zamok_drakona_photo1.jpg" class="card-img-top"
                            alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up
                            the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-outline-danger">Бронювати</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>

<div id="quest-full-info" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-xl modal-fullscreen-md-down modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content text-white bg-dark mb-3">
            <div class="container-fluid">
                <div class="modal-header">
                    <h4 class="modal-title">Quest title</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col">
                            <img src="{{domain}}/img/quests/insomnia_ekstremalnoe_shou_photo1.jpg" class="card-img-top"
                                alt="...">
                        </div>
                        <div class="col">
                            Some info
                        </div>
                    </div>
                    <div class="quest-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum tellus id
                            felis lobortis, nec posuere sem vulputate. Nullam interdum nisl ut elementum dictum.
                            Sed gravida sapien ac dolor ultrices, et tristique leo malesuada. Ut suscipit auctor
                            diam, ac interdum dui molestie sit amet. Duis quis gravida justo. Maecenas a nibh id
                            elit sollicitudin tempus. Mauris lacinia semper feugiat. Maecenas rutrum nunc at sem
                            finibus pretium vel in justo. Nunc euismod nisi eu lacus scelerisque, sit amet
                            eleifend justo tempus. Suspendisse id nibh porta, elementum est quis, posuere eros.
                            Vivamus elit nibh, porta non est sit amet, lacinia tincidunt turpis. Vestibulum quis
                            sem a sem euismod semper. Proin sodales urna ac odio elementum, semper lobortis
                            lorem euismod. Ut pharetra ligula et laoreet maximus.
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger">Бронювати</button>
            </div>
        </div>
    </div>
</div>
