<section class="content">
    <div class="container">
        <h1 class="block-title">Квести</h2>
        <div class="quest_list row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 justify-content-start align-items-center">
            {{quest_cards}}
            <div class="col">
                <div id="add_new_quest_btn">
                    <a role="button" class="square">
                        <div role="button" class="circle">
                            <div class="line horizontal_line"></div>
                            <div class="line vertical_line"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

